---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "October 30th, 2025",
        title: "Cisco CTF - H4ck@Tec 2025",
        description: "Participated in the Cisco Capture The Flag event during H4ck@Tec 2025, winning the 9th place by successfully solving red team challenges, showcasing skills on Nmap, Metasploit and vulnerability assessment.",
        isLatest: true,
        link: "https://www.linkedin.com/posts/luisvalde_the-other-day-i-attended-hacktec-a-activity-7395702334443442176-1IOf"
    },
    {
        date: "October 24th - 26th, 2025",
        title: "HackMTY 2025",
        description: "Built an automated ML-powered packing assistant for airline catering (gategroup Smart Intelligence track), using computer vision object detection, tracking, and QR code workflow to reduce human error.",
        isLatest: false,
        link: "https://www.linkedin.com/posts/luisvalde_hackathon-innovation-teamwork-activity-7389524978955874304-Ahih"
    },
    {
        date: "October 13th, 2024",
        title: "HackMTY 2024",
        description: "",
        isLatest: false,
        link: "https://www.linkedin.com/posts/luisvalde_hackathon-innovation-teamwork-activity-7389524978955874304-Ahih"
    }
];
---

<ol class="relative border-s border-neutral-700 ml-4">   
    {
        EXPERIENCE.map((item) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...item} />
            </li>
        ))
    }
</ol>