---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "March 13th, 2025",
        title: "Flowbite Application UI v2.0.0",
        description: "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
        isLatest: true,
        link: "#"
    },
    {
        date: "January 5th, 2024",
        title: "Cybersecurity Internship at SecureTech",
        description: "Assisted in vulnerability assessments and penetration testing for client systems, contributing to enhanced security measures.",
        isLatest: false,
        link: "#"
    },
    {
        date: "June 20th, 2023",
        title: "Open Source Contributor - Project X",
        description: "Contributed code and documentation to an open-source cybersecurity tool used by professionals worldwide.",
        isLatest: false,
        link: "#"
    }
];
---

<ol class="relative border-s border-neutral-700 ml-4">   
    {
        EXPERIENCE.map((item) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...item} />
            </li>
        ))
    }
</ol>