---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "March 13th, 2025",
        title: "Flowbite Application UI v2.0.0",
        description: "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
        isLatest: true,
        link: "#"
    }
];
---

<ol class="relative border-s border-neutral-700 ml-4">   
    {
        EXPERIENCE.map((item) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...item} />
            </li>
        ))
    }
</ol>