---
const currentYear = new Date().getFullYear();
---

<footer class="opacity-80 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center">
    <div class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
      <span class="text-sm text-white/90 sm:text-center">
        {currentYear} <span class="font-semibold">varfmx21</span>. Almost all rights reserved.
      </span>
      <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0">
        <li>
            <a href="#top" class="hover:text-purple-400 transition-colors me-4 md:me-6">Home</a>
        </li>
        <li>
            <a href="#tech-skills" class="hover:text-purple-400 transition-colors me-4 md:me-6">Tech Skills</a>
        </li>
        <!-- <li>
            <a href="#experience" class="hover:text-purple-400 transition-colors me-4 md:me-6">Experience</a>
        </li> -->
        <li>
            <a href="#projects" class="hover:text-purple-400 transition-colors me-4 md:me-6">Projects</a>
        </li>
        <li>
            <a href="#blog" class="hover:text-purple-400 transition-colors me-4 md:me-6">Blog</a>
        </li>
        <li>
            <a href="#certifications" class="hover:text-purple-400 transition-colors">Certifications</a>
        </li>
      </ul>
    </div>
</footer>