---
const { class: className, id } = Astro.props
---

<section 
  id={id}
  data-section={id}
  class={`scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-3xl mb-16 ${className}`}
>
  <slot />
</section>